<!DOCTYPE html>
<link rel= "stylesheet" href= "{{ url_for('static',filename='css/main.css') }}">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    <header>
        <div class="container">
            <h1 class="logo">Input</h1>
            <strong>
                <nav>
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="input.html">Input</a></li>
                        <li><a href="charts.html">Charts</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>
    <h3> Enter some details below, or select autogenerate. </h3>
    <label class="chk">Autogenerate: <input type="checkbox" name="autogen" value="y"/></label>
    <p>_________________________________________________________</p>
    <div>
        <form action="/input.html">
            <label class="input">Contract Type: <input type="text" name="contractType"/></label>
            <label class="input">Contract Amount: <input type="text" name="contractAmount"/></label>
            <label class="input">Contract Location: <input type="text" name="contractLoc"/></label>
            <label class="input">Contract Department: <input type="text" name="contractDept"/></label>
            <label class="input">Contract Set Aside: <input type="text" name="contractSA"/></label>
        </form>
    </div>
    </body>
</html>